.menu {
  border-bottom: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  text-align: left;
  align-items: center;
  padding: 10px;
}

.menu:last-child{
    border-bottom: none;
}

.menuLhs {
    width: 60%;
}

.menuName, .menuPrice {
    font-weight: bolder;
}

.menuPrice {
    color: var(--wine);
    display: inline-block;
    padding-right: 10px;
}

.menuRhs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    gap: 10px;


}

.menuRhs input {
    width: 60px;
    border-radius: 10px;
    padding: 5px;
}

.menuRhs .button {
  display: block;
  width: 80px;
}

.box {
    display: inline-block;
    border: 1px solid var(--wine);
    background-color: white;
    padding: 5px;
    min-width: 30px;
    border-radius: 5px;
    text-align:center;

}


/* ================== */

@media (max-width: 529px){
    .menuRhs {
        justify-content: ;
    }

    .menuRhs, .menuLhs{
        width: 100%;
    }
}