
.header {
    width: 100vw;
    background-color: var(--wine);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;

}

.cartAmount {
    background-color: var(--wine);
    min-width: initial;

}